.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    "header header header"
    "content content sidebar"
    "footer footer footer";
  background-color: #eee;
  min-height: 100vh;
  grid-gap: 1rem;
  grid-template-columns: calc(20vw - 3rem) 40vw 40vw;
}

.App-header {
  background-color: #282c34;
  min-height: 10vmin;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-area: header;
}

.App-nav {
  grid-area: sidebar;
}

.App-body {
  grid-area: content;
  position: relative;
}

.App-footer {
  grid-area: footer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
